.container {
  width: 60%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.card {
  position: unset;
  border: 0;
}

// button
.btn {

  &:hover {

  }
}

// text
.text-center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

// btn
// button
.btn {
  color: $color-wood;
}
