main {
  height: 100%;
  width: 100%;
  // jumbotron
  .jumbotron {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    .container {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      width: 100%;
      .container-info {
        width: calc(100% / 2);
        height: auto;
        @include flex-column-center;
        // titolo
        .display-4 {
          color: $color-white;
          font-family: $font_title;
          font-size: 85px;
          font-weight: bold;
        }
        // linea orizzontale
        .my-4 {
          border-color: $color-wood;
        }
        // sottotitolo
        p {
          font-size: 25px;
          color: $color-silvergrey;
        }
      }
      .container-img {
        width: calc(100% / 2);
        height: 100%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  // sezione award Pro Barbers
  .award {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    @include flex-column-center;
    .container-award {
      @include flex-column-center;
      align-items: center;
      height: 300px;
      h3 {
      @include title-h3;
      }
      h1 {
      @include title-h1;
      }
      a {
        color: $color-wood;
        font-size: 17px;
      }
    }
  }
  // sezione servizi
  .services {
    width: 100%;
    height: 900px;
    background-color: $color-white;
    @include flex-column-evenly-center;
    .services-title {
      h3 {
        @include title-h3;
        text-align: center;
      }
      h1 {
        @include title-h1;
        text-align: center;
      }
    }
    .services-cards {
      width: 100%;
      @include flex-start-start-space;
      .card {
        @include flex-column-wrap-center;
        img {

        }
        h4 {
          @include title-h4;
          text-align: center;
        }
        p {
          text-align: center;
        }
      }
    }
  }
  // sezione prodotti
  .products {
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-column-evenly-center;
    .products-title {
      h3 {
        @include title-h3;
        text-align: center;
      }
      h1 {
        @include title-h1;
        text-align: center;
      }
    }
    .products-cards {
      width: 100%;
      @include flex-center;
      .cards {
        @include flex-column-wrap-center;
        img {

        }
        h4 {
          @include title-h4;
          text-align: center;
        }
        p {
          text-align: center;
          color: $color-wood;
        }
      }
    }
  }
  // sezione banner shaving Butter
  .container-banner {
    height: 500px;
    background-color: $color-white;
    .banner {
      height: 100%;
      @include flex-start;
      .container-img {
        width: calc(100% / 1.5);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
        border-style: solid;
        border-width: 4px 0px 0px;
        border-color: $color-wood;
        img {

        }
      }
      .container-description {
        width: 100%;
        @include flex-center;
        border-style: solid;
        border-width: 4px 0px 0px;
        border-color: $color-wood;
        background-color: $color-darkgray;
        .description {
          @include flex-column-center;
          h3 {
            @include title-h3;
          }
          h1 {
            @include title-h1;
            padding-bottom: 30px;
          }
          p {
            color: $color-silvergrey;
          }
        }
      }
    }
  }
  // sezione reviews
  .container-reviews {

  }
}
