main {
  height: 100%;
  width: 100%;
  // jumbotron
  .jumbotron {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    .container {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      width: 100%;
      .container-info {
        width: calc(100% / 2);
        height: auto;
        @include flex-column-center;
        // titolo
        .display-4 {
          color: $color-white;
          font-family: $font_title;
          font-size: 85px;
          font-weight: bold;
        }
        // linea orizzontale
        .my-4 {
          border-color: $color-wood;
        }
        // sottotitolo
        p {
          font-size: 25px;
          color: $color-silvergrey;
          // button
          .btn {
            color: $color-wood;
          }
        }
      }
      .container-img {
        width: calc(100% / 2);
        height: 100%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  // sezione award Pro Barbers
  .award {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    @include flex-column-center;
    .container-award {
      @include flex-column-center;
      align-items: center;
      height: 300px;
      h3 {
        color: $color-wood;
        font-size: 15px;
      }
      h1 {
        color: $color-lightergrey;
        font-size: 70px;
        font-family: $font_title;
        font-weight: bold;
      }
      a {
        color: $color-wood;
        font-size: 17px;
      }
    }
  }
  // sezione servizi
  .services {
    
  }
}
