footer {
  background-color: $color-background-black;
  .container {
    .container-footer {
      @include flex-center-space-between;
      .container-left {
        img {
          padding-right: 1em;
        }
      }
      .container-right {
        ul {
          display: flex;
          flex-direction: row;
          li {
            padding-left: 1em;
            a {
              color: $color-text-navbar-top;
            }
          }
        }
      }
    }

  }
}
