header {
  display: flex;
  justify-content: space-around;
  .navbar {
    width: 75%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    padding-top: 2em;
    .navbar-items {
      @include flex-center-between;
      .navbar-brand {
      }
      .navbar-icons {
        .cart {
          i {
            color: $color-white;
            font-size: 22px;
          }
        }
        .bars {
          i {
            color: $color-white;
            padding-left: 20px;
            font-size: 25px;
          }
        }
      }
    }
  }
}
