header {
  background-color: $color-background-black;
  .container {
    .navbar-top {
      width: 95%;
      ul {
        @include flex-end;
        li {
          @include flex-center;
          color: $color-text-navbar-top;
          font-size: 13px;
          i {
            color: $color-icon-navbar-top;
            padding-right: 0.5em;
          }
        }
      }
    }
    .navbar-menu {
      ul {
        @include flex-start;
        align-items: center;
        li {
          img {
            width: 75%;
            padding-right: 1em;
          }
          a {
            color: $color-white;
            padding-right: 4em;
            font-size: 14px;
          }
        }
      }
    }
  }
}
