header {
  display: flex;
  justify-content: space-around;
  .navbar {
    width: 60%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    padding-top: 2em;
    .navbar-items {
      @include flex-center-between;
      width: 100%;
      .navbar-logo {
      }
      .navbar-icons {
        .cart {
          i {
            color: $color-white;
            font-size: 20px;
            text-align: center;
            &:hover {
              color: $color-wood;
            }
          }
        }
        .bars {
          i {
            color: $color-white;
            padding-left: 20px;
            font-size: 23px;
            &:hover {
              color: $color-wood;
            }
          }
        }
      }
    }
  }
}
