// flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-start-column-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
}
