// flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-start-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-end-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-start-start-space {
display: flex;
align-items: flex-start;
align-content: flex-start;
justify-content: space-between;
}

@mixin flex-column-wrap-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
// TITOLI
@mixin title-h3 {
  color: $color-wood;
  font-size: 15px;
  font-weight: bold;
}

@mixin title-h1  {
  color: $color-silvergrey;
  font-size: 70px;
  font-family: $font_title;
  font-weight: bold;
}

@mixin title-h4 {
  color: $color-wood;
  font-size: 30px;
  font-weight: bold;
}
