// flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-start-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-end-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
