* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family:  'Open Sans', sans-serif;
}

body{
  position: relative;  
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.card {
  position: unset;
}
