// colori
$color-background-black: #101010;
$color-text-navbar-top: #5b6d6d;
$color-icon-navbar-top: #0292fb;
$color-white: #ffffff;
$color-blue: #009cff;
$color-pink: #cc397f;
$color-lightgrey: #e6e6e6;
$color-darkgrey: #2c2c2c;
$color-purple: #52058f;

// font
$font_family: 'Open Sans', sans-serif;
