// colori
$color-white: #ffffff;
$color-lightergrey: #eae8e6;
$color-darkgray: #111110;
$color-grey: #505050;
$color-silvergrey: #b0b0b0;
$color-codgrey: #191817;
$color-paragraph: #88928f;

// modifica del colore
$color-wood: #409ad3;

// font
$font_p: 'Lato', sans-serif;
$font_title: 'Abril Fatface', cursive;
$font_button: 'Lato', sans-serif;
