// colori
$color-white: #ffffff;
$color-lightergrey: #eae8e6;
$color-darkgray: #111110;
$color-grey: #505050;
$color-silvergrey: #b0b0b0;
$color-codgrey: #191817;
$color-wood: #ae8652;


// font
$font_p: 'Open Sans', sans-serif;
$font_title: 'Abril Fatface', sans-serif;
$font_button: 'Lato', sans-serif;
